@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<br>
@if(@Model.Tags.Count == 0)
{
  <p>This recipe doesn't contain any tags</p>
}
else
{
  <h4>Tags in this Recipe:</h4>
  <hr />
  <ul>
    @foreach(var join in Model.Tags)
    {
      <p>@join.Tag.Name</p>
      @using (Html.BeginForm("DeleteTag", "Recipes")) //("Recipes" == "RecipesContoller")
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete" class="btn" />
      }
    }
  </ul>
}
<br>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add a Tag", "AddTag", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p> 